# Predictor based on population of the county, general health of the population, pharmacies per capita.

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import pandas as pd
scaler =StandardScaler()
import seaborn as sns
from sklearn.ensemble import GradientBoostingRegressor

In [2]:
data_for_prediction = pd.read_csv('Complete_data_for_predictor.csv')

In [3]:
# sns.pairplot(data=data_for_prediction, diag_kind='kde')

In [4]:
x = data_for_prediction.drop(['num_pharmacies'], axis=1)
y = pd.DataFrame(data_for_prediction['num_pharmacies'])
x_scaled = scaler.fit_transform(x)

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=20)

In [34]:
# model = LinearRegression()
# model = DecisionTreeRegressor()
# model = GradientBoostingRegressor()
for model_class in (LinearRegression(), DecisionTreeRegressor(), GradientBoostingRegressor()):
    model = model_class
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print('RMSE: ', mean_squared_error(y_test, y_pred, squared=False))

RMSE:  31.06935755178896
RMSE:  34.90427726552394
RMSE:  31.18907131380187

/Users/ravirajch/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [47]:
model = GradientBoostingRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print('RMSE: ', mean_squared_error(y_test, y_pred, squared=False))
# y_pred_flat = [round(x[0]) for x in y_pred]
y_pred_flat = [round(x) for x in y_pred]
y_test_flat = y_test['num_pharmacies'].tolist()

RMSE:  31.092963350918815

/Users/ravirajch/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [48]:
results = pd.DataFrame([y_pred_flat,y_test_flat]).T.rename(columns={0:'predicted',1:'actual'})
results['difference'] = abs(results['predicted']-results['actual'])
results.head()

   predicted  actual  difference
0          4       5           1
1          3       1           2
2          3       4           1
3          2       1           1
4          4       3           1

In [49]:
results[results['difference']<11].difference.value_counts()

1     53
2     34
0     27
3      8
6      8
4      4
5      3
7      3
8      1
10     1
Name: difference, dtype: int64

In [50]:
results.shape

(175, 3)

In [52]:
y_full_preds = model.predict(x_scaled)
# y_full_pred_flat = [round(x[0]) for x in y_pred]
y_full_pred_flat = [round(x) for x in y_full_preds]
y_full_test_flat = y['num_pharmacies'].tolist()
full_results = pd.DataFrame([y_full_pred_flat,y_full_test_flat]).T.rename(columns={0:'predicted',1:'actual'})
full_results['difference'] = abs(full_results['predicted']-full_results['actual'])
full_results.head()

   predicted  actual  difference
0         52      51           1
1          2       1           1
2          7       7           0
3         16      13           3
4         14       9           5

In [53]:
print('RMSE: ', mean_squared_error(y, y_full_preds, squared=False))

RMSE:  15.765159168222038

In [54]:
full_results['percent_error'] = (full_results['difference']/full_results['actual'])*100
full_results.head()

   predicted  actual  difference  percent_error
0         52      51           1       1.960784
1          2       1           1     100.000000
2          7       7           0       0.000000
3         16      13           3      23.076923
4         14       9           5      55.555556

In [55]:
full_results[full_results['difference']<10].difference.value_counts()

1    284
0    164
2    138
3     59
4     32
5     20
6     18
7     17
8     14
9      5
Name: difference, dtype: int64

In [56]:
full_results.to_csv('ensemble_res.csv', index=False)

In [57]:
full_results.shape

(875, 4)